*{margin:0px; padding:0px;box-sizing: border-box;}
html{
    background-image:url(../img/body_bg.jpg);
}
body{
    font:12px Arial, Helvetica, sans-serif;
    color:#000;
    background-image:url(../img/body_bg.jpg);
    width:1000px;
    margin:0 auto;
}
ul{ list-style-type:none;}

input,select,textarea{
    vertical-align:middle;
    color:#333;
}
a{
    color:#171616;
    text-decoration:none;
}
a:hover{color:#b63300;}

img{border:0px;}

em{font-style: normal; }

table { border-collapse:collapse; border-spacing:0; }

.my_header iframe{
    height: 160px;width: 100%;
}
.my_footer iframe{
    height: 80px;width: 100%;
}