.top{
    width: 100%;
    height: 100px;
    margin-top:10px;
}
.top>img{
    width: 100%;
}
.header_nav{
    margin-top:10px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background: url(../img/header/nav_bg.jpg) repeat-x;
}
.header_nav>ul{
    display:flex;
    height: 40px;
    border:1px solid #3b2d25;
}
.header_nav>ul>li{
    height: 38px;
    background: url(../img/header/nav_cen_line.jpg) no-repeat right center;
}
.header_nav>ul>li:last-child{
    background: 0;
}
.header_nav>ul>li>a{
    padding:0 20px;
    font-size: 20px;
    text-align: center;
    color:#fff;
}