
.guider_content{
    width: 80%;
    margin-left:10px;
	position:relative;
	height: 380px;
}
.guider_content>div:first-child{
    width: 100%;
    height: 103px;
    background:url("../img/index/mainImage_01.gif") no-repeat;
    color:#fff;
    font-size:20px;
    font-family: 隶书;
}
.guider_content ul{
    list-style-image: url("../img/index/Explain_03.jpg");
    list-style-position: inside;
    border:1px solid #B1C8D7;
}
.guider_content ul li a,.guider_content ul li span{
    font-size:16px;
    padding-left:10px;
    color:#1E50A2;
}
.guider_content ul li a:hover{
    color:#b63300;
}
.guider_content tfoot ul li{
	list-style-image:none;
}
.guider_content #introduce1 ul>li{
	background-color: #EBF2FA;
	margin-bottom:6px;
	padding-left:6px;
 }
#introduce2 table{
	width: 90%;
	border: 1px solid #6298E2;
	border-collapse: collapse;
	margin-left:30px;
}
#introduce2 table th{
	background-color: #8CB4E8;
	text-align: center;
	color:#fff;
	border: 1px solid #6298E2;
	height: 25px;
}
#introduce2 table td{
	background-color: #EBF2FA;
    text-align: center;
	border: 1px solid #6298E2;
	height: 25px;
}
#introduce1,#introduce2{
	width: 100%;
	height: 250px;
	position:absolute;
	top:118px;
	background-color:#fff;
}
.hide{
	display:none;
}